# Backend (Maven)
/backend/target/
/backend/*.jar

# Frontend (Node)
 /frontend/node_modules/
 /frontend/.next/
 /frontend/build/

# IDE / OS
.vscode/
.idea/
*.log
*.class
*.iml
.DS_Store

# Docker / env
.env
*.pid

